@use '../../../../styles/variables' as *;

.container {
  padding: $space-base;
}

.row {
  display: flex;
  align-items: center;
  gap: $space-lg;
  padding: $space-sm 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}
